<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207783282282-28virf6jtvgkesur95hms422h0slfrst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207783282282-28virf6jtvgkesur95hms422h0slfrst</string>
	<key>API_KEY</key>
	<string>AIzaSyBApjOUbVB9K8DWrasIIjwc6LfiEcyvZt8</string>
	<key>GCM_SENDER_ID</key>
	<string>207783282282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NatProd.GamingNews</string>
	<key>PROJECT_ID</key>
	<string>rsssources-4ebca</string>
	<key>STORAGE_BUCKET</key>
	<string>rsssources-4ebca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207783282282:ios:cd202f4d8e7ac62e14ec13</string>
	<key>DATABASE_URL</key>
	<string>https://rsssources-4ebca.firebaseio.com</string>
</dict>
</plist>